body {
    margin:0;
    padding:0;
    #datetime {
        position:fixed;
        color: #ee8877;
        z-index: 100;
        font-family: monospace;
        padding: 5px;
    }
    #date {
        font-size: 0.7em;
    }
    #map {
        position:absolute;
        top:0;
        bottom:0;
        width:100%;
    }
    .rc-slider {
        position: fixed;
        bottom: 50px;
        width: 80%;
        margin: 0 auto;
        margin-left: 10%;
        height: 40px;
        .rc-slider-handle {
            border: 2px solid #922490;
            background-color: #922490;
            width: 40px;
            height: 40px;
            margin-top: 0px;
            margin-left: -20px;
            border-radius: 20%;
        }
        .rc-slider-track {
            height: 40px;
            background-color: #bababa;
        }
        .rc-slider-step {
            height: 40px;
        }
    }
}
