---
import { Geshem } from "../components/Geshem";
import "../styles/global.css";

const { date } = Astro.params;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<title>Geshem - Rain Radar</title>
		<meta name="description" content="Israel Rain Radar" />
		<script
			src="https://cdn.usefathom.com/script.js"
			data-site="MBXPLVRM"
			defer></script>
	</head>
	<body>
		<Geshem client:load date={date} />
	</body>
</html>
