<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.js'></script>
      <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #datetime { position:fixed; color: #ee8877; z-index: 100; font-family: monospace; padding: 5px; }
        #date { font-size: 0.7em; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
</head>
<body>

<div id='datetime'>
    <div id='date'>{{ ts.strftime('%d/%m/%Y') }}</div>
    <div id='hour'>{{ ts.strftime('%H:%M') }}</div>
</div>
<div id='map'></div>
<script>

mapboxgl.accessToken = 'pk.eyJ1IjoieXV2YWRtIiwiYSI6InlKdW56cVEifQ.Kp9mM9JFtja5dKeZxHg0DA';
var mapStyle = {
    "version": 8,
    "name": "Dark",
    "sources": {
        "mapbox": {
            "type": "vector",
            "url": "mapbox://mapbox.mapbox-streets-v6"
        },
        "radar_140": {
            "type": "image",
            "url": "/static/{{ latest_140 }}_140.png",
            "coordinates": [
                [33.35317413, 33.27232471],
                [36.32243686, 33.27232471],
                [36.32243686, 30.72293428],
                [33.35317413, 30.72293428]
            ]
        },
        "radar_280": {
            "type": "image",
            "url": "/static/{{ latest_280 }}_280.png",
            "coordinates": [
                [31.93095218, 34.5156862],
                [37.86644267, 34.5156862],
                [37.86644267, 29.42911589],
                [31.93095218, 29.42911589]
            ]
        }
    },
    "sprite": "mapbox://sprites/mapbox/dark-v8",
    "glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf",
    "layers": [
        {
            "id": "background",
            "type": "background",
            "paint": {"background-color": "#111"}
        },
        {
            "id": "boundaries",
            "source": "mapbox",
            "source-layer": "admin",
            "type": "line",
            "paint": {"line-color": "#797979"},
            "filter": ["all", ["<=", "admin_level", 2], ['==', 'maritime', 0]]
        },
        {
            "id": "water",
            "source": "mapbox",
            "source-layer": "water",
            "type": "line",
            "paint": {"line-color": "#797979"}
        },
        {
            "id": "water2",
            "source": "mapbox",
            "source-layer": "water",
            "type": "fill",
            "paint": {"fill-color": "#111122"}
        },
        {
            "id": "radar_140",
            "source": "radar_140",
            "type": "raster",
            "paint": {
                "raster-opacity": 0.85
            },
            "layout": {
                "visibility": "none"
            }
        },
        {
            "id": "radar_280",
            "source": "radar_280",
            "type": "raster",
            "paint": {
                "raster-opacity": 0.85
            }
        },
        {
            "id": "cities",
            "source": "mapbox",
            "source-layer": "place_label",
            "type": "symbol",
            "filter": ["all", ["<=", "localrank", 6]],
            "layout": {
                "text-field": "{name_en}",
                "text-font": ["DIN Offc Pro Bold", "Arial Unicode MS Bold"],
                "text-size": {"stops": [[4, 9], [6, 12]]}
            },
            "paint": {
                "text-color": "#969696",
                "text-halo-width": 2,
                "text-halo-color": "rgba(0, 0, 0, 0.85)"
            }
        },
        {
            "id": "states",
            "source": "mapbox",
            "source-layer": "state_label",
            "type": "symbol",
            "layout": {
                "text-transform": "uppercase",
                "text-field": "{name_en}",
                "text-font": ["DIN Offc Pro Bold", "Arial Unicode MS Bold"],
                "text-letter-spacing": 0.15,
                "text-max-width": 7,
                "text-size": {"stops": [[4, 10], [6, 14]]}
            },
            "filter": [">=", "area", 80000],
            "paint": {
                "text-color": "#969696",
                "text-halo-width": 2,
                "text-halo-color": "rgba(0, 0, 0, 0.85)"
            }
        }
    ]
};

var map = new mapboxgl.Map({
    container: 'map',
    maxZoom: 10,
    minZoom: 5,
    zoom: 6.3,
    center: [35, 31.9],
    style: mapStyle,
    hash: false
});

map.on('zoom', function (x) {
    var zoom = map.getZoom();
    if (zoom > 7) {
        map.getLayer('radar_140').layout.visibility='visible';
        map.getLayer('radar_280').layout.visibility='none';
    }
    else {
        map.getLayer('radar_140').layout.visibility='none';
        map.getLayer('radar_280').layout.visibility='visible';
    }
})

</script>

</body>
</html>
