<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8' />
    <title>geshem.space</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.11.2/mapbox-gl.css' rel='stylesheet' />
    <style>
        body { margin:0; padding:0; }
        #datetime { position:fixed; color: #ee8877; z-index: 100; font-family: monospace; padding: 5px; }
        #date { font-size: 0.7em; }
        #map { position:absolute; top:0; bottom:0; width:100%; }
    </style>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-71416554-1', 'auto');
      ga('send', 'pageview');
    </script>
</head>
<body>
    <div id='root'></div>
    <script src='/static/js/bundle.js'></script>
</body>
</html>
