#datetime {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: monospace;
}

#info {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-family: monospace;
}

#info-button {
  font-size: 2em;
  background: #777;
  padding: 10px 14px;
  border-radius: 7px;
}

#info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  padding: 30px;
  background: #777;
}

#date {
  font-size: 1.4em;
}

#time {
  font-size: 1.8em;
}

#slider {
  position: fixed;
  bottom: 8vh;
  width: 30vw;
  margin-left: 35vw;
}

@media only screen and (max-device-width: 812px) {
  #slider {
    width: 80vw;
    margin-left: 8vw;
  }
}
