#datetime {
  position: absolute;
  top: 20px;
  left: 20px;
  color: white;
  font-family: monospace;
}

#info {
  position: absolute;
  top: 20px;
  right: 20px;
  color: white;
  font-family: monospace;
}

#info-button {
  font-size: 2em;
  background: #777;
  padding: 10px 14px;
  border-radius: 7px;
}

#info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  background: #777;
  max-height: 40vh;
  overflow-y: scroll;
}

@media only screen and (max-device-width: 812px) {
  #info-modal {
    padding: 0px 12px;
    width: 70vw;
  }
}

#info-eng {
  width: 50%;
  float: left;
}

#info-heb {
  width: 50%;
  direction: rtl;
  float: right;
}

#date {
  font-size: 1.4em;
}

#time {
  font-size: 1.8em;
}

#slider {
  position: fixed;
  bottom: 8vh;
  width: 30vw;
  margin-left: 35vw;
}

@media only screen and (max-device-width: 812px) {
  #slider {
    width: 80vw;
    margin-left: 8vw;
  }
}

a,
a:visited {
  color: #79b0d4;
}
